<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myspring.mapper.UserMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 -->
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<resultMap type="com.myspring.entity.UserEntity" id="baseMap">
		<id property="id" column="ID" />
		<result property="name" column="NAME" />
		<result property="account" column="ACCOUNT" />
		<result property="password" column="PASSWORD" />
		<result property="status" column="STATUS" />
		<result property="comment" column="COMMENT" />
	</resultMap>

	<select id="findUsers" resultMap="baseMap">
		select * from USER
		<if test="name != null and name != ''">
			where name like CONCAT('%',#{name},'%')
		</if>
	</select>

</mapper>